
/**
CrossFade
 */
html, body {
    height: 100%;
    margin: 0;
}

.panel {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    color: white;
    height: 100%;
    min-width: 100%;
    text-align: center;
    display: table;
    margin: 0;
    background: #1c1c1c;
    padding: 0 0;
}

.panel .inner {
    display: table-cell;
    vertical-align: middle;
}

.backgroundimg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed; z-index:-1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}

#back1 {
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#back2 {
    background-image: url("../images/pic02.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#back3 {
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#back4 {
    background-image: url("../images/pic04.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#back5 {
    background-image: url("../images/pic04.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@keyframes backgroundchangeFadeInOut {
    0% {
        opacity:1;
    }
    17% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    92% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes backgroundchangeFadeInOut {
    0% {
        opacity:1;
    }
    17% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    92% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

#backgroundchange div:nth-of-type(1) {
    animation-delay: 8s;
    -webkit-animation-delay: 8s;
}
#backgroundchange div:nth-of-type(2) {
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
}
#backgroundchange div:nth-of-type(3) {
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
}
#backgroundchange div:nth-of-type(4) {
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

#backgroundchange div:nth-of-type(5) {
    animation-delay: 0;
    -webkit-animation-delay: 0;
}

#backgroundchange div {
    animation-name: backgroundchangeFadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 8s;

    -webkit-animation-name: backgroundchangeFadeInOut;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;

}

/**
Ya estaba
 */
body.login {
    /*background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;*/

}

.login h1 a {
    background-color: #1e347b;
}

.login label {
    font-size: 12px;
    color: #555555;
}

.container {
    width: 400px;
    height: 510px;
    text-align: center;
    background-color: #2e6da4;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 4%;
}

.container img {
    width: 160px;
    height: 130px;
    margin-top: -100px;
    margin: o auto;
    margin-bottom: 30px;
}

.login input[type="text"] {
    background-color: #ffffff;
    border-color: #dddddd;
    -webkit-border-radius: 4px;
}

.login input[type="password"] {
    background-color: #ffffff;
    border-color: #dddddd;
    -webkit-border-radius: 4px;
}
